<div class="container">
	<div class="jumbotron">
		<h1>How to Reach Us</h1>
		<p>Let's get in touch.</p>	
	</div>
	<div class="featurette divider">
		<div class="row featurette"></div>
			<div class="col-md-4">
				<center><h2>Address</h2><br>
				3553 NW 79 St. <br>
				Doral, FL <br></center>
			</div>
			<div class="col-md-4">
				<center><h2>Contact</h2><br>
				Office: (305)-436-9292 <br>
				Fax: (305)-436-0000<br>
				JGPMiami@bellsouth.net</center>
				
			</div>
			<div class="col-md-4">
				<center><h2>Hours</h2><br>
				Monday through Friday <br>
				9 A.M. to 5 P.M.</center>
		</div>
	<br><br>
	<div class="featurette divider">
	<h2>Write Us a Message </h2>
