<div class="container">
	<div class="jumbotron">
		<h1>The Team</h1>	
		<p> Learn a bit about the faces behind the banner </p>
	</div>
	<hr class="featurette-divider">
		
		<div class="col-md-7">
		<h2>Jose G. Puig Jr. <br>
		<span class="text-muted">The Man, Myth, and Legend.</span>
		</h2>
		<p class="lead">
			"Here's all of Jose's Information"
		</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive" data-src="http://placekitten.com/500/500" alt="500x500" src="http://placekitten.com/500/500">
		<br><br>
	</div>
<!--Still need to figure out proper picture formatting, also find out about green </div>, and second featurette divider. Center text next to each photo. Indent text for 3rd employee (inline with first).-->
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-5">
		<img class="featurette-image img-responsive" data-src="http://placekitten.com/400/400" alt="500x500" src="http://placekitten.com/400/400">
		</div>
		<div class="col-md-7">
		<h2> Johnny Appleseed <br>
		<span class="text-muted">Does the things, makes the moves</span>
		</h2>
		<p class="lead">
			"Here's all of Johnny's Information"
		</p>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">	
		<div class="col-md-7">
		<h2>Jane Doe <br>
		<span class="text-muted">Anything you can do, She can do better</span>
		</h2>
		<p class="lead">
			"Here's all of Jane's Information"
		</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive" data-src="http://placekitten.com/500/500" alt="500x500" src="http://placekitten.com/500/500">
	<br><br>
	</div>
	<br>
	<br>
	<div class="row">
	<div class="col-md-6">