<div class="container">
	<div class="jumbotron">
		<h1>Local Projects</h1>
		<p> Here's a bit of what we've done in our own backyard </p>	
	</div>
	<hr class="featurette-divider">
		
		<div class="col-md-7">
		<h2>Freedom Tower <br>
		<span class="text-muted">Miami, FL</span>
		</h2>
		<p class="lead">
			106,000 Square Foot Office Building,   Museum, Art Building Center, and Library
		</p>
	</div>
	<div class="col-md-5">
	<center>
		<img class="featurette-image img-responsive" data-src="http://placekitten.com/275/275" alt="275/275" src="http://placekitten.com/275/275">
		<br><br>
		</center>
	</div>
<!--Still need to figure out proper picture formatting, also find out about green </div>, and second featurette divider. Center text next to each photo. Indent text for 3rd project (inline with first).-->
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-5">
		<center><img class="featurette-image img-responsive" data-src="http://placekitten.com/275/275" alt="275x275" src="http://placekitten.com/275/275"></center>
		</div>
		<div class="col-md-7">
		<h2> Barclays Financial Center & <br> J.W. Marriott Hotel Complex <br>
		<span class="text-muted">Miami, FL</span>
		</h2>
		<p class="lead">
			310 Key Hotel, 600,000   Square Foot Office Building and 1,200 Cars Parking Garage
		</p>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">	
		<div class="col-md-7">
		<h2>Mandarin Oriental Hotel at Palmas del Mar <br>
		<span class="text-muted">Humacao, P.R.</span>
		</h2>
		<p class="lead">
			252 Key Resort Villas & Condo Units, Public areas, and 600 persons Ballroom and Meeting Rooms.
		</p>
	</div>
	<div class="col-md-5">
	<center>
		<img class="featurette-image img-responsive" data-src="http://placekitten.com/275/275" alt="275x275" src="http://placekitten.com/275/275">
		</center>
	<br><br>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">	
	<div class="col-md-5">
		<center><img class="featurette-image img-responsive" data-src="http://placekitten.com/275/275" alt="275x275" src="http://placekitten.com/275/275"></center>
		</div>
		<div class="col-md-7">
		<h2>The Ritz Carlton Hotel & Casino San Juan, P.R. <br>
		<span class="text-muted">Humacao, P.R.</span>
		</h2>
		<p class="lead">
			20,000 square foot, 438 room resort.   Casino, 1200 Person Ballroom, Back of the House Facilities, and 400 Car Parking garage.
		</p>
	</div>
	<br>
	<br>



	</div>
	<div class="row">
	<div class="col-md-6">