<div class="container">
	<div class="jumbotron">
		<h1>Complete Projects</h1>
		<p> Here you will find a full list of projects completed by our team </p>
	</div>

<div class="col-md-6">
OFFICE BUILDINGS <br> <br>

One Biscayne Boulevard Office Building Miami, Florida <br>
100 Biscayne Boulevard Office Building, Miami, Florida <br>
IBM Office Building, Miami, Florida <br>
Bank of Nova Scotia, San Juan, P.R. <br>
Labor Department Office Building, San Juan, P.R. <br>
Housing Investment Office Bldg., San Juan, P.R. <br>
Mercantil Plaza Office Building, San Juan, P.R. <br>
Palmas del Mar Office Building, Humacao, P.R. <br>
Esso Standard Oil Office Building Maracaibo, Venezuela <br>
Vega Baja Municipal Assembly Building, Vega Baja, P.R. <br>
Carolina Municipal Assembly Building, Carolina, P.R. <br>
A.C.A.A. Office Building, San Juan, P.R. <br>
AAA Office Building, San Juan, P.R. <br>
Fomento Building, San Juan, P.R. <br>
Blue Cross Building, San Juan, P.R. <br>
El Amal Office Building, San Juan, P.R. <br>
431 Ponce de Leon Office Bldg., San Juan, P.R. <br>
Family Courts Bldg., Bayamon, P.R. <br>
West Indies Advertising, San Juan, P.R. <br>
SSS Office Building, San Juan, P.R. <br>
CellularOne Office Building at Metro Office Park, San Juan, P.R. <br>
Citibank Corporate Headquarters Bldg., San Juan, P.R . <br>
Oriental Federal Bank Bldg., San Juan, P.R. <br>
Fondo del Seguro del Estado Central Headquarters Building, San Juan, P.R. <br>
Universal Insurance Company Office Building at Metro Office Park, San Juan, P.R. <br>
Muñoz Rivera 270, San Juan, P.R. <br>
Lote 11, Metro Office Park, San Juan, P.R. <br>
Royal Insurance Bldg., Metro Office Park, San Juan, P.R. <br>
Banco Bilbao Vizcaya Corporate Headquarters Bldg, San Juan, P.R .<br>
Summit Office Building, San Juan, P.R . <br>
Sierra, Cardona & Ferrer and Lopito Ileana & Howie Office Bldg., Cataño, P.R. <br>
Citibank Señorial Sales & Service Center Bldg., San Juan, P.R. <br>
Barclay’s Financial Center, Miami, Florida <br>
Hollywood Ambassador Corporate Center, Hollywood, Florida <br>
R&G Mortage Corporate Center, San Juan, P.R. <br> <br>

</p>
<p>
HOTELS AND RESORTS <br> <br>

The Playboy Club, Miami Beach, Florida <b>(Talk about Board Room selling point)</b> <br>
Sheraton Four Ambassadors, Miami, Florida <br>
Doral Hotel, Miami Beach, Florida <br>
Doral Country Club, Miami, Florida <br>
Ramada Inn Hotel, San Juan, P.R. <br>
Hotel Santiago, Santiago, Dominican Republic <br>
Club Mediterrane, Punta Cana, Dominican Republic <br>
El San Juan Hotel, San Juan, P.R. <br>
Quality Royal Hotel & Casino, San Juan, P.R. <br>
Condado Plaza Hotel & Casino, San Juan, P.R. <br>
Intercontinental San Juan Hotel & Casino, San Juan, P.R. <br>
Caribe Hilton Hotel Remodeling, San Juan, P.R. <br>
Aruba Americana, Aruba, NA <br>
Mayaguez Hilton Remodeling, Mayaguez, P.R. <br>
Ritz Carlton Hotel & Casino, Isla Verde, P.R. <br>
J.W. Marriott , Brickell Ave., Miami, Florida <br>
Cowpet Bay Resort, St. Thomas, USVI <br>
Pond Bay Resort, St. Thomas, USVI <br>
Hollywood Ambassador Remodeling, Hollywood, Fl <br>
Mandarin Oriental Palmas del Mar, Humacao, P.R. <br> <br>

</p>
<p>
EDUCATIONAL FACILITIES <br> <br>

Library of Ponce Regional College, Ponce, P.R. <br>
Auditorium San José High School, San Juan, P.R. <br>
St. Croix Educational Complex, St. Croix, USVI <br>
Public Library Building, St. Croix, USVI <br>
Student Housing, University of the Virgin Islands, St. Croix, USVI <br>
Elementary School, Florida, P.R. <br>
Rural Elementary School, Arecibo, P.R. <br>
Secondary School at Piedra Gorda Ward, Camuy, P.R. <br>
Yauco High School, Yauco, P.R. <br>
Gurabo Fine Arts School, Gurabo, P.R. <br>
Law School Building, Interamerican University, San Juan, P.R. <br> <br>

</p>
<p>

COMPUTER CENTERS <br> <br>

IBM Computer Center, BSJ Tower <br>
A.F.F. Computer Center <br>
Bank of Nova Scotia Computer Center <br>
Hospital Pavia Computer Center <br>
Department of Labor Computer Center <br>
SSS Computer Center <br> <br>

</p>
<p>
APARTMENT BUILDINGS <br> <br>

Sheraton Four Ambassadors (1280 Apartments), Miami, Florida <br>
Forte Towers North (498 Apartments), Miami, Florida  <br>
Forte Towers Center (451 Apartments), Miami, Florida  <br>
Forte Towers South (511 Apartments), Miami, Florida  <br>
Harbour House North (573 Apartments), Miami, Florida  <br>
Harbour House South (615 Apartments), Miami, Florida  <br>
The Jockey Club Apartments (183 Apartments), Miami, Florida  <br>
The Palm Bay Club Apartments (112 Apartments), Miami, Florida  <br>
200 Ocean Drive(42 Apartments), Miami Beach, Florida <br>
Condesa Del Mar (238 Apartments), San Juan, P.R. <br>
Surfside Mansions (132 Apartments), San Juan, P.R. <br>
Villas Del Mar East (210 Apartments), San Juan, P.R . <br>
Villas Del Mar West (210 Apartments), San Juan, P.R. <br>
El Girasol Apartments (80 Apartments), San Juan, P.R . <br>
Torre del Mar (215 Apartments), San Juan, P.R. <br>
Tenerife Condominium (26 Apartments), San Juan, P.R. <br>
Mar de Isla Verde (260 Apartments), San Juan, P.R. <br>
Costa Linda (83 Apartments), San Juan, P.R. <br>
Ashford Imperial (140 Apartments), San Juan, P.R. <br>
Plaza del Atlantico (32 Apartments), San Juan, P.R. <br>
Condado Real (106 Apartments), San Juan, P.R. <br>
San Geronimo Apartments (42 Apartments), San Juan, P.R. <br>
Waterview Mansions (52 Apartments), San Juan, P.R. <br>
Marbella del Caribe East (225 Apartments), San Juan, P.R. <br>
Marbella del Caribe West (225 Apartments), San Juan, P.R. <br>
Excelsior Hotel & Tower (28 Luxury Apartments) San Juan, P.R. <br>
Laguna Plaza at Paseo Caribe (36 Luxury Apartments) San Juan, P.R. <br>
Valentines Residences & Marina (75 Apartments), Harbour Island, Bahamas <br>
Weston Palace (450 Apartments) Weston, Florida <br>
100 Andalusia Ave. (300 Apartments) Cora Gables, Florida <br>
Metropolitan Miami One (447 Apartments) Miami, Florida <br> <br>

</p>
</div>
<div class="col-md-6">
<p>

DETENTION FACILITIES <br> <br>

Hospital for the Puerto Rico State Penitentiary, Río Piedras, PR <br>
Remodeling of State Penitentiary Complex, Río Piedras, PR <br>
Central Maintenance Building at Puerto Rico State Penitentiary, Río Piedras, PR <br>
Screening Building at Puerto Rico State Penitentiary, Río Piedras, PR <br>
Central Kitchen and Laundry Building at Puerto Rico State Penitentiary, Río Piedras, PR <br>
Western Regional Institution, Aguadilla, PR <br>
Revisions to Criminal Justice Complex, St. Thomas, U.S.V.I. <br>
750 Beds Wackenhut Glades County Correctional Facility, Moore Haven, Florida <br>
1318 Beds Wackenhut South Bay Detention Facility, South Bay, Florida <br>
500 Beds Wackenhut Work Release Correction Facilities, Ft. Lauderdale, Florida <br>
2000 Beds Male Wackenhut Male Detention Facility, Lawton, Oklahoma <br>
1050 Beds Broward County Women Detention Facility, Ft. Lauderdale, Florida <br> <br>

</p>
<p>
HOSPITALS AND TREATMENT CENTERS <br> <br>

Veterans Administration Hospital Expansion, San Juan, PR <br>
Hialeah Hospital Expansion, Miami, Florida <br>
Guadalupe Hospital, San Juan, PR <br>
Hospital Santiago, Santiago, Dominican Republic <br>
Hospital Pavia Remodeling & Expansion, San Juan, PR <br>
Hospital San Pablo Clinical Laboratory, Bayamon, PR <br>
Instituto San Pablo, Bayamon, PR <br>
C.D.T. Las Marías, Las Marias, PR <br>
BMA Río Piedras, San Juan, PR <br>
San Juan Health Center, San Juan, PR <br>
Hermanos Meléndez Hospital, Bayamon, PR <br>
Hospital San Lucas, Ponce, PR <br>
Trujillo Alto Treatment & Diagnostic Center, San Juan, PR <br>
Psychiatric Hospital Phase II, San Juan, PR <br>
Belaval Treatment Center, San Juan, PR <br>
Instituto Médico del Norte Hospital, Vega Baja, PR <br>
B.M.A. Arecibo, Arecibo, PR <br>
B.M.A. Ponce, Ponce, PR <br>
C.D.T. Río Piedras, San Juan, PR <br>
Atlantic Shores Psychiatric Hospital, Ft. Lauderdale, Florida <br>
Pavia Fajardo Hospital, Fajardo, PR <br> <br>

</p>
<p>

MANUFACTURING PLANTS <br> <br>

Caribbean Refrescos (Coca-Cola) Cidra, PR <br>
7-Up Syrup Plant, Cidra, Puerto Rico <br>
Pepsico (PEPSI) Manufacturing Plant, Cidra, PR <br>
Instrumentation Laboratories, Cidra, PR <br>
Best Foods, Arecibo, PR <br>
Matsushita Electric Plant, Caguas, PR <br>
Molinos de Arroz Steam Distribution, Cataño, PR <br>
Molinos de Arroz, Arecibo,PR <br>
Phelps Dodge Plant. Valencia, Venezuela <br>
Frito Lay Mfg. Plant, Arecibo, PR <br>
Schering of Puerto Rico, Humacao, PR  <br>
Lámparas Eléctricas Westinghouse, Cidra, PR <br>
Wang of Puerto Rico, Inc.. Juncos, PR <br>
Ex-Lax Mfg. Plant Expansion, Las Piedras, PR <br>
Beckman Instruments Caribe, Inc., Naguabo, PR <br>
Insular Wire Products, Bayamon, PR <br>
Solka Laboratories, Managua, Nicaragua  <br>
Finlay Laboratories, San Pedro Sula, Honduras <br>
Bard Implants, Inc, Las Piedras, PR <br>
R.J. Reynolds Building Expansion, Cataño, PR <br>
Johnson & Johnson Dental Care, Gurabo, PR <br>
Packaging Unlimited, Juncos, PR <br>
Pamcor, Inc., Las Piedras, PR <br>
Rigid Pak, Juncos, PR <br>
BFI Industries, Ponce, PR <br>
Bourns of Puerto Rico, Inc, Las Piedras, PR <br>
Cosmair, Inc., Rio Grande, PR <br> <br>

</p>
<p>

MECHANICAL DESIGN-BUILD PROJECTS <br> <br>

Wang of Puerto Rico, Juncos, PR <br>
Beckman Instruments Caribe Inc., Naguabo, PR <br>
Bard Implants, Inc., Las Piedras, PR <br>
Pamcor Inc., Las Piedras, PR <br>
SSS Office Building, San Juan, PR <br>
CellularOne Office Bldg., Metro Office Park, San Juan, PR <br>
Instrumentation Laboratories, Cidra, PR <br>
Summit Office Building, San Juan, PR <br>
Lote 11 Office Bldg. Metro Office Park, San Juan, PR <br> <br>

</p>
<p>

SHOPPING CENTERS AND STORES <br> <br>

International Plaza Shopping Center, Carolina, PR <br>
Los Robles Shopping Center, San Juan, PR <br>
Shopping Center Villa Universitaria, Humacao, PR <br>
González Padín Store, Caguas, PR <br>
González Padín Store, Plaza Carolina, Carolina, PR <br>
Ten Small Stores at Plaza Las Américas, San Juan, PR <br>
Six Small Stores at Plaza Carolina, Carolina, PR <br>
Fort Buchanan Shopping Center PX, Cataño, PR <br>
Commissary at Ft. Buchanan, Cataño, PR <br>
Bayamon Mall, Bayamon, PR <br>
Sierra de Cayey Shopping Center, Cayey, PR <br>
Almacenes Kress at Plaza Las Américas, San Juan, PR <br>
Almacenes Kress at Plaza Carolina, Carolina, PR <br>
Almacenes Kress at Salinas, Salinas, PR <br>
Caribe Village Complex, San Juan, PR <br> <br>

</p>
<p>

OTHERS <br> <br>

Yaguez Theaters, Mayaguez, PR <br>
Convention Center, Palmas del Mar, Humacao, PR <br>
Puerto Rico Telephone Co. Arecibo, Arecibo, PR <br>
Puerto Rico Telephone Co. Bayamon, Bayamon, PR <br>
Howard Johnson Fast Food Stores, Caguas, PR <br>
Paradise Bowling Alley, San Juan, PR <br>
Airport Puerto Rico ( Various Projects), Carolina, PR <br>
U.S. Embassy, Santo Domingo, Dominican Republic <br>
U.S.A. Post Office-Parcel Post Annex, Cataño, PR <br>
Puerto Rico Pavillion at 1992 World’s Fair, Sevilla, Spain <br>
Mix Use Building Puerto Rico Telephone Co., San Juan, PR <br>
Denny’s Restaurant, Rio Piedras, P.R.  <br>
Denny’s Restaurant, Chardon Street, San Juan, P.R. <br>
Denny’s Restaurant, Tanca Street, San Juan, P.R. <br>
Denny’s Restaurant, Bayamon, P.R.  <br> <br>

</p>
</div>
	<div class="row">
	<div class="col-md-6">
