// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner {
	img {
		width: 100%;
	}
}

#contactForm {
	.ng-invalid.ng-dirty {
			border-color: red;
	}

	.ng-valid.ng-dirty {
			border-color: green;
	} 
}
