<!DOCTYPE html>
<html>
<head>
  <title>JGP Engineering</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="jgpApp">
<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">JGP Engineering Group P.A.</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="about">Who We Are</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">What We Do <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="projects.local">Local Projects</a></li>
            <li class="divider"></li>
            <li><a ui-sref="projects.all">Full Project List</a></li>
          </ul>
        <li><a ui-sref="employees">The Team</a></li>
        <li><a ui-sref="locations">Location</a></li>
        <li><a ng-controller="ContactModalCtrl" ng-click="open()" class="pointer">Contact</a></li>
        </li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<%= yield %>

<footer>
  <p class="text-center">&copy2014 JGP Engineering Group P.A.</p>
  <p class="text-center">3553 NW 79 St. Doral, FL  (305)-436-9292 </p>
</footer>
<%= javascript_include_tag 'application' %>

</div>
</body>
</html>
